body {background-image: url(https://tse3.mm.bing.net/th/id/OIG2.doZ.I4gB7RgsJkOnRu9g?w=1024&h=1024&rs=1&pid=ImgDetMain);
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-size: 100%;

}/* styles.css */

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

/* Main content styles */
.main {
    flex-grow: 1;
    /* Add other styles for your main content area */
}
